<%- include ('../partials/head') %>
<header>
	<nav class="navbar" role="navigation">
		<div class="navbar-brand">
			<div class="navbar-item">
				<h1></h1>
			</div>
		</div>
	</nav>
</header>
<section class="section">
	<div class="container">
		<form class=edit action=edit method=post enctype=multipart/form-data> 
			<fieldset class='field'>
			<legend>
				<h2 class="is-size-4">Profile</h2>
			</legend>
			
				
				<div class="file is-boxed">
					<label class="file-label">
						<input class="file-input" name=picture type=file accept=image/*> <span class="file-cta">
						<ion-icon name="camera-outline"></ion-icon>
						<span class="file-label">
							Upload your Profile picture
						</span>
						</span>
					</label>
				</div>
			</fieldset>
<fieldset class="field">
	<legend>
		<h2 class="is-size-4">Your Username</h2>
	</legend>
	<input class="input" name=name value=<%= user.name %>>
</fieldset>


			</fieldset>
			<fieldset class="field">
				<legend>
					<h2 class="is-size-4">Select your favorite platforms</h2>
				</legend>
				<% if (platforms.length) { %>
				<% platforms.forEach(function(platform){ %>
				<div class="field">
					<input 	class="is-checkradio" 
							id="<%= platform.value %>" 
							type="checkbox" name="platforms"
							value="<%= platform.name %>"
							<% if (user.platforms.includes(platform.name)) { %>
							checked
							<% } %>
							>
					<label for="<%= platform.value %>"><%= platform.name %> </label>
				</div>
				<% }) %>
				<% } %>
			</fieldset>
			<fieldset class="field">
				<legend>
					<h2 class="is-size-4">Select your favorite Genres</h2>
				</legend>
				<% if (genres.length) { %>
				<% genres.forEach(function(genre){ %>
				<div class="field">
					<input	class="is-checkradio" 
							id="<%= genre.value %>"
							type="checkbox" name="genres"
							value="<%= genre.name %>" 
							<% if (user.genres.includes(genre.name)) { %>
							 checked
							<% } %>
							>
					<label for="<%= genre.value %>"><%= genre.name %> </label>
				</div>
				<% }) %>
				<% } %>
			</fieldset>
			<fieldset class="field">
				<legend>
					<h2 class="is-size-4">About You</h2>
				</legend>
				<textarea class="textarea" name=about rows=5 > <%= user.about %>  </textarea>
			</fieldset>
			<div class=buttons>
				<a href="/profile" class="button">Cancel</a>
				<button type=submit class='button is-primary'>Save</button>
				
			</div>
		</form>
	</div>
</section>
<%- include ('../partials/tail') %>
