<%- include ('../partials/head') %>
<header>

  <div class="container">

    <form class="searchbar" action="/games/search/query" method="get">
      <div class="field">
        <div class="control has-icons-left">
          <input class="input" type="search" id="mySearch" name="q" placeholder="Search">
          <span class="icon is-small is-left">
            <ion-icon name="search-outline"></ion-icon>
          </span>
        </div>


      </div>
    </form>
  </div>
</header>
<section>
  <ul class="games">
    <% for (var i = 0; i < popular.length; i++) { %>
    <li class="item">
      <h3><%= popular[i].title %></h3>
      <img src="/uploads/<%= popular[i].cover %>" alt="<%= popular[i].title %>">
      <button id=js-remove data-id="<%= popular[i]._id %>" class="icon add material-icons">add</button>
    </li>
    <% } %>
  </ul>
</section>




<%- include ('../partials/tail') %>