<%- include ('../partials/head') %>
<header>
  <nav class=top-nav>
    <div class="left buttons"><a class='back hidden'>back</a></div>
    <h1>About You</h1>
    <div class=right><a href="#"></a></div>
  </nav>
</header>
<section class="section">
  <div class="container">
    <form class='onboarding' action=/onboarding method=post>
      <fieldset class='active'>
        <legend>
          <h2>What is your first name?</h2>
        </legend>
        <input name=name placeholder='Your Name'>
        <input class="input" name=picture type=file accept=image/*> </fieldset> <fieldset class="field">
        <legend>
          <h2 class="title">Select your favorite platforms</h2>
        </legend>

        <% if (platforms.length) { %>
        <% platforms.forEach(function(platform){ %>
        <div class="field">
          <input class="is-checkradio" id="<%= platform.value %>" type="checkbox" name="platforms"
            value="<%= platform.name %>">
          <label for="<%= platform.value %>"><%= platform.name %> </label>
        </div>
        <% }) %>
        <% } %>

      </fieldset>
      <fieldset class="field">
        <legend>
          <h2 class="title">Select your favorite Genres</h2>
        </legend>

        <% if (genres.length) { %>
        <% genres.forEach(function(genre){ %>
        <div class="field">
          <input class="is-checkradio" id="<%= genre.value %>" type="checkbox" name="genres" value="<%= genre.name %>">
          <label for="<%= genre.value %>"><%= genre.name %> </label>
        </div>
        <% }) %>
        <% } %>

      </fieldset>



      <fieldset class="field">
        <legend>
          <h2 class="title">What should others know about you?</h2>
        </legend>
        <textarea name=about rows=5 placeholder=""></textarea>
      </fieldset>
      <div class=buttons>
        <a class='next btn-main'>Next question</a>
        <button type=submit class='btn-main submit'>done</button>
      </div>
    </form>
  </div>
</section>
<%- include ('../partials/tail') %>