<%- include ('../partials/head') %>
<header>
	<nav class="navbar" role="navigation">
		<div class="navbar-brand">
			<div class="navbar-item">
				<h1></h1>
			</div>
		</div>
	</nav>
</header>
<section class="section">
	<div class="container">
		<form class='onboarding' action=/onboarding method=post enctype=multipart/form-data> <fieldset>
			<legend>
				<h2 class="is-size-4">This is how others will see you</h2>
			</legend>
			<div class="field">
				<input class="input" name=name placeholder='Your username'>
				
			</div>
			</fieldset>
			<fieldset class="field">
				<legend>
					<h2 class="is-size-4">Select your favorite platforms</h2>
				</legend>
				<% if (platforms.length) { %>
				<% platforms.forEach(function(platform){ %>
				<div class="field">
					<input class="is-checkradio" id="<%= platform.value %>" type="checkbox" name="platforms"
						value="<%= platform.name %>">
					<label for="<%= platform.value %>"><%= platform.name %> </label>
				</div>
				<% }) %>
				<% } %>
			</fieldset>
			<fieldset class="field">
				<legend>
					<h2 class="is-size-4">Select your favorite Genres</h2>
				</legend>
				<% if (genres.length) { %>
				<% genres.forEach(function(genre){ %>
				<div class="field">
					<input class="is-checkradio" id="<%= genre.value %>" type="checkbox" name="genres"
						value="<%= genre.name %>">
					<label for="<%= genre.value %>"><%= genre.name %> </label>
				</div>
				<% }) %>
				<% } %>
			</fieldset>
			<fieldset class="field">
				<legend>
					<h2 class="is-size-4">What should others know about you?</h2>
				</legend>
				<textarea class="textarea" name=about rows=5 placeholder=""></textarea>
			</fieldset>
			<div class=buttons>
				<a class='next btn-main'>Next question</a>
				<button type=submit class='button is-primary'>done</button>
			</div>
		</form>
	</div>
</section>
<%- include ('../partials/tail') %>
