<%- include ('../partials/head') %>
<header>
	<nav class="navbar is-fixed-top">
		<div class="navbar-menu is-flex is-shadowless">
			<div class="navbar-start">
				<div class="navbar-item">
					<%_ if (title == 'Search') { %>
					<a class="navbar-link is-arrowless">
						Back
					</a>
					<% } else {} %>
				</div>
			</div>
			<div class="navbar-center">
				<div class="navbar-item">
					<!-- <h1 class="title">
            Title
          </h1> -->
				</div>
			</div>
			<div class="navbar-end">
				<div class="navbar-item">
					<%_ if (title == 'Profile') { %>
					<a href="profile/edit" class="navbar-link is-arrowless">
						Edit
					</a>
					<% } else {} %>
				</div>
			</div>
		</div>
	</nav>
	<section class="hero">
		<div class="hero-body">
			<h1 class="title">
				Profile
			</h1>
		</div>
	</section>
</header>
<section class=section>
	<div class=container>
		<% if (typeof user == 'object' && user) { %>
		<div class="card-content">
			<div class="media">
				<div class="media-left">
					<figure class="image is-128x128">
						<img class=is-rounded src="/uploads/<%= user.picture %> ">
					</figure>
				</div>
				<div class="media-content">
					<h2 class=title><%= user.name %></h2>
				</div>
			</div>
			<div class="content">
				<h3 class="title is-4">Games</h3>
				<div class="columns is-mobile is-multiline">
					<% for (var j = 0; j < user.games.length; j++) { %>
					<div class="column is-one-third-mobile is-one-quarter-tablet is-one-fifth-desktop">
						<figure class="image is-marginless">
							<img src="<%= user.games[j].cover %>" alt="<%= user.games[j].title %>">
						</figure>
					</div>
					<% } %>
					<div class="column is-one-third-mobile is-one-quarter-tablet is-one-fifth-desktop">
						<a href='/games' class="button is-small is-rounded">
							<span class="icon is-small">
								<ion-icon name="search-outline"></ion-icon>
							</span>
						</a>
					</div>
				</div>


				<h3 class="title is-4">Platforms</h3>
				<div class="tags are-medium">

<% if (user.platforms) { %>
					<% for (var i = 0; i < user.platforms.length; i++) { %>
					<span class="tag is-rounded is-primary is-light"><%= user.platforms[i] %></span>
					<% } %>
	<% } %>

				</div>
				<h3 class="title is-4">Genres</h3>
				<div class="tags are-medium">
<% if (user.genres) { %>

					<% for (var i = 0; i < user.genres.length; i++) { %>
					<span class="tag is-rounded is-primary is-light"><%= user.genres[i] %></span>
					<% } %>
	<% } %>

				</div>
				<h3 class="title is-4">About</h3>
				<p class=""> <%= user.about %> </p>
				<a class='button is-primary' href="/logout">Logout</a>
			</div>
		</div>
		<% } else { %>
		<h2>Hi Nobody!</h2>
		<% } %>
	</div>
</section>
<%- include ('../partials/tail') %>
