<%- include ('../partials/head') %>
<title><%= title %></title>

<body class=no-js>
  
<header class="hero">

    <div class="hero-body">
        <div class="container">
            <nav>
                <a class="button is-white" href="profile/edit">
                    Edit
                </a>
            </nav>
            <h1 class="title">
                <%= title %>
            </h1>
        </div>
    </div>

</header>
<section class=section>
<div class=container>
    <% if (typeof user == 'object' && user) { %>
    
        
    
    <div class=profile-card>
        <figure class="image is-128x128">
            <img class=is-rounded src="/uploads/<%= user.picture %> ">
        </figure>
        <div>
            <h2 class=title><%= user.name %></h2>
            <p class='console'> <%= user.console %></p>
        </div>
    </div>
    <h3 class="title is-4">Looking for</h3>
        <p class="subtitle"> <%= user.gamemode %> </p>
    <h3 class="title is-4">Playstyle</h3>
        <p class="subtitle"> <%= user.playstyle %> </p>
    <h3 class="title is-4">About</h3>
        <p class="subtitle"> <%= user.about %> </p>


<%- include ('../partials/my-list') %>
<a class='button is-primary' href="/logout">Logout</a>
<% } else { %>
      <h2>Hi Nobody!</h2>
<% } %>
</div>
</section>



<%- include ('../partials/tail') %>



